<form action="" method="post">

    {{ csrfInput() }}

    {% if tips|length %}
        <div class="buttons first">
            <a class="btn submit formsubmit" data-action="blitz-tips/tips/clear-all">
                {{ "Clear all"|t('app') }}
            </a>
        </div>
    {% endif %}


    <div class="readable">
        <p id="notips"{% if tips|length %} class="hidden"{% endif %}>
            {{ "No tips."|t('app') }}
        </p>

        {% if tips|length %}
            <table id="deprecationerrors" class="data fullwidth fixed-layout">
                <thead>
                    <tr>
                        <th>{{ 'Recommendation'|t('blitz-tips') }}</th>
                        <th>{{ 'Template'|t('blitz-tips') }}</th>
                        <th class="nowrap">{{ "Last Occurrence"|t('blitz-tips') }}</th>
                        <th style="width: 14px;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for recommendation in tips %}
                    <tr data-id="{{ recommendation.id }}">
                        <td>
                            {{ recommendation.message|md|replace({'<p>': '', '</p>': ''})|raw }}
                            {% if recommendation.info %}
                                <span class="info" style="vertical-align: top;">{{ recommendation.info|md|replace({'<p>': '', '</p>': ''})|raw }}</span>
                            {% endif %}
                        </td>
                        <td class="code">{{ recommendation.template|e|replace('/', '/<wbr>')|raw }}</td>
                        <td>{{ recommendation.dateUpdated|timestamp }}</td>
                        <td>
                            <a class="delete icon formsubmit" data-action="blitz-tips/tips/clear" data-param="id" data-value="{{ recommendation.id }}" title="{{ 'Delete'|t('app') }}" role="button"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

</form>
